@{
    Layout = "~/Views/Shared/LayoutOferente.cshtml";
}


<main role="main" class="pb-3">
    <input id="nombreOferente" type="hidden" value="@ViewBag.nombre" />
    <input id="vistaActual" name="clave" type="hidden" value="@ViewBag.VistaActual" />


    <div class="container mt-5">
        <div class="contenedorExpediente">

            <form class="formEnlaces" method="post">
                <input id="identification" name="identification" type="hidden" value="@ViewBag.identificacion" />
                <input id="clave" name="clave" type="hidden" value="@ViewBag.clave" />

                <ul class="nav nav-tabs d-flex justify-content-center" id="myTabs">
                    <li class="nav-item">
                        <button id="enlaceBuscar" class="nav-link">Buscar Vacantes</button>

                    </li>
                    <li class="nav-item">
                        <button id="enlaceCrear" class="nav-link">Crear Oferta</button>
                    </li>
                    <li class="nav-item">
                        <button id="enlaceVerMisOfertas" class="nav-link">Ver mis Ofertas</button>
                    </li>
                    <li class="nav-item">
                        <button id="enlaceVerVacantesAplicadas" class="nav-link">Ver Vacantes Aplicadas</button>

                    </li>

                </ul>
            </form>

            <h2 class="text-center mt-2">Crear Oferta</h2>

            <form id="formAgregarOferta" method="post">
                <input name="identificacion" type="hidden" value="@ViewBag.identificacion" />


                <div class="form-group row mt-3">
                    <div class="col-md-6">
                        <label for="provincias">Provincia:</label>
                        <select id="provincias" name="provincias" class="form-control" tabindex="1">
                            <!-- Opciones de provincias -->
                            <option value="null">Seleccione una opción</option>

                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="cantones">Cantón:</label>
                        <select id="cantones" name="cantones" class="form-control" tabindex="2">
                            <!-- Opciones de cantones -->
                            <option value="null">Seleccione una opción</option>

                        </select>
                    </div>

                </div>


                <div class="form-group">
                    <label for="descripcion">Descripción:</label>
                    <textarea class="form-control" id="descripcion" name="descripcion" required tabindex="3" placeholder="Horario, disponibilidad inmediata..."></textarea>
                </div>


                <div class="form-group">
                    <label for="listaMaterias">Materias:</label>

                    <ul id="listaMaterias" class="list-group">
                        <!-- Agrega aquí los elementos de la lista de idiomas si es necesario -->


                    </ul>
                    <button id="" type="button" class="btn btn-primary mt-1" data-toggle="modal" data-target="#agregarMateriaModal">
                        Añadir Materia
                    </button>
                </div>




                <button id="btnAgregarOferta" class="btn btn-success mt-2 w-100" tabindex="8">Agregar Oferta</button>

            </form>



            <form method="post" asp-controller="Oferente" asp-action="MenuPrincipalOferente">
                <input id="identification" name="identification" type="hidden" value="@ViewBag.identificacion" />
                <input id="clave" name="clave" type="hidden" value="@ViewBag.clave" />
                <div class="form-group col-sm-12">
                    <button id="btnRegresar" class="btn btn-secondary mt-2 w-100">Regresar</button>
                </div>
            </form>

        </div>

    </div>




    <!-- Modal para Añadir Materia -->
    <div class="modal fade" id="agregarMateriaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Añadir Materia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="col-md6">
                        <label for="materias">Materia:</label>
                        <select id="materias" class="form-control">
                            <!-- Opciones de materias -->
                       
                        </select>
                    </div>
                    <button id="btnAgregarMateria" class="btn btn-success mt-2">Agregar Materia</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal de Confirmación para Eliminar materia -->
    <div class="modal fade" id="confirmacionEliminarModalMateria" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmar Eliminación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar esta materia?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button id="confirmarEliminar" type="button" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>



</main>

<script src="~/js/oferente/postulaciones.js"></script>