@{
    Layout = "~/Views/Shared/LayoutOferente.cshtml";
}
<main role="main" class="pb-3">
    <input id="nombreVista" type="hidden" value="@ViewBag.VistaActual" />
    <input id="nombreOferente" type="hidden" value="@ViewBag.nombre" />
    <input id="apellidosOferente" type="hidden" value="@ViewBag.apellidos" />



    <div class="container">

        <div class="contenedorExpediente animate__animated animate__zoomIn d-flex justify-content-center" style="max-width: 70rem;">

            <div class="">

                <div class="row">
                    <form class="col-sm-6" method="post" asp-controller="Oferente" asp-action="MenuPrincipalOferente">
                        <input id="identification" name="identification" type="hidden" value="@ViewBag.identificacion" />
                        <input id="clave" name="clave" type="hidden" value="@ViewBag.clave" />

                        <button id="btnRegresar" class="btn btn-secondary mt-2">Regresar</button>

                    </form>

                    <div class="col-sm-6">
                        <img id="fotoPerfil" class="img-fluid img-perfil" data-toggle="modal" data-target="#imagenModal" />
                    </div>

                </div>
                <form class="formEnlaces" method="post">
                    <input name="identification" type="hidden" value="@ViewBag.identificacion" />
                    <input id="clave" name="clave" type="hidden" value="@ViewBag.clave" />

                    <ul class="nav nav-tabs d-flex justify-content-center" id="myTabs">
                        <li class="nav-item">
                            <button id="enlaceDatosPersonales" class="btn-dark">Expediente Personal</button>

                        </li>
                        <li class="nav-item">
                            <button id="enlaceExpedienteAcademico" class="btn-dark">Expediente Academico</button>
                        </li>
                        <li class="nav-item">
                            <button id="enlaceReferencias" class="btn-dark">Perfil Laboral</button>
                        </li>
                        <li class="nav-item">
                            <button id="enlaceExpLaboral" class="btn-dark">Experiencia Laboral</button>

                        </li>

                    </ul>

                </form>







                <form id="expedienteForm">
                    <input name="identificacion" type="hidden" value="@ViewBag.identificacion" />
                    <fieldset class="border p-3">
                        <legend class="w-auto">Información Personal</legend>
                        <hr />
                        <!-- Agrega aquí los demás campos de Información Personal -->
                        <div class="row">
                            <div class="form-group col-sm-3">
                                <label for="nombre">Nombre:</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="nombre" name="nombre" disabled>
                                </div>
                            </div>

                            <div class="form-group col-sm-3">
                                <label for="apellidos" >Apellidos:</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="apellidos" name="apellidos" disabled>
                                </div>
                            </div>

                            <div class="form-group col-sm-3">
                                <label for="nacimiento">Nacimiento:</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="nacimiento" name="nacimiento" tabindex="1">
                                </div>

                            </div>

                            <div class="form-group col-sm-3">
                                <label for="genero">Género:</label>
                                <div class="col-sm-12">
                                    <select id="genero" name="genero" class="form-control" tabindex="2">
                                        <option value="0">Seleccione una opción</option>
                                        <option value="1">M</option>
                                        <option value="2">F</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="border p-3 mt-1">
                        <legend class="w-auto">Ubicación</legend>
                        <hr />
                        <!-- Agrega aquí los demás campos de Ubicación -->
                        <div class="row">
                            <div class="form-group col-sm-2">
                                <label for="provincias">Provincia:</label>
                                <div class="col-sm-12">
                                    <select id="provincias" name="provincias" class="form-control" tabindex="3">
                                        <option value="0">Seleccione una opción</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-sm-2">
                                <label for="cantones">Cantón:</label>
                                <div class="col-sm-12">
                                    <select id="cantones" name="cantones" class="form-control" tabindex="4">
                                        <option value="0">Seleccione una opción</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-sm-2">
                                <label for="distritos">Distritos:</label>
                                <div class="col-sm-12">
                                    <select id="distritos" name="distritos" class="form-control" tabindex="5">
                                        <option value="0">Seleccione una opción</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="direccion">Dirección:</label>
                                <div class="col-sm-12">
                                    <textarea id="direccion" class="form-control" name="direccion" placeholder="Ingrese la dirección" tabindex="6"></textarea>
                                </div>
                            </div>
                        </div>



                    </fieldset>


                    <!-- Sección: Contacto -->
                    <fieldset class="border p-3 mt-1">
                        <legend class="w-auto">Contacto</legend>
                        <hr />
                        <div class="row">
                            <div class="form-group col-sm-3">
                                <label for="correo">Correo:</label>
                                <div class="col-sm-12">
                                    <input type="email" class="form-control" id="correo" name="correo" value="@ViewBag.correo" disabled>
                                </div>
                            </div>

                            <div class="form-group col-sm-3">
                                <label for="telefono">Teléfono:</label>
                                <div class="col-sm-12">

                                    <input type="text" class="form-control" id="telefono" name="telefono" value="@ViewBag.telefono" disabled>

                                </div>
                            </div>

                            <div class="form-group col-sm-3">
                                <label for="correoOpcional">Correo Opcional:</label>
                                <div class="col-sm-12">

                                    <input type="email" class="form-control" id="correoOpcional" name="correoOpcional" placeholder="abc@gmail.com" tabindex="9">

                                </div>
                            </div>

                            <div class="form-group col-sm-3">
                                <label for="telefonoOpcional">Teléfono Opcional:</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="telefonoOpcional" name="telefonoOpcional" tabindex="10">
                                </div>
                            </div>
                        </div>
                    </fieldset>

      
                    <div class="row mt-1">

                        <!-- Sección: Idiomas -->
                        <div class="col">
                            <fieldset class="border p-3">
                                <legend class="w-auto">Idiomas</legend>
                                <hr />
                                <ul id="listaIdiomas" class="list-group">
                                </ul>
                                <button type="button" class="btn btn-primary btn-sm mt-1" data-toggle="modal" data-target="#agregarIdiomaModal" tabindex="7">Añadir</button>
                            </fieldset>
                        </div>


                        <!-- Sección: Grupo Profesional -->
                        <div class="col">
                            <fieldset class="border p-3">
                                <legend class="w-auto">Grupo Profesional</legend>
                                <hr />
                                <ul id="listaGrupoProfesional" class="list-group">
                                </ul>
                                <button type="button" class="btn btn-primary btn-sm mt-1" data-toggle="modal" data-target="#agregarGrupoProfesionalModal" tabindex="8">
                                    Añadir
                                </button>
                            </fieldset>
                        </div>


                    </div>

                    <!-- Sección: subir dimex -->

                    <fieldset id="seccionDinex" class="border p-3 mt-2">
                        <legend class="w-auto">Dimex</legend>
                        <hr />

                        <div class="row">

                            <div id="divSubirDinex" class="form-group col-sm-6">
                                <label for="fotoDimex">Subir Foto Dimex:</label>
                                <div>
                                    <input type="file" class="form-control-file" id="fotoDimex" name="fotoDimex" accept="image/*" tabindex="11" />

                                </div>
                            </div>

                            <button id="mostrarModalSubirDimex" class="btn btn-primary mt-3 col-sm-2" tabindex="12">Subir Imagen</button>

                            <div class="form-group col-sm-4">
                                <label for="estadoDimex">Estado</label>
                                <div>
                                    <input type="text" class="form-control" id="estadoDimex" name="estadoDimex" readonly />
                                </div>
                            </div>



                        </div>
                    </fieldset>

                    <!-- Sección: subir foto perfil -->
                    <div class="row mt-2">
                        <div class="col">
                            <fieldset class="border p-3 col-sm-6">
                                <legend class="w-auto">Foto Perfil</legend>
                                <hr />



                                @*              <div class="form-group col-sm-6">
                                <label for="fotoExpediente">Subir Foto Expediente:</label>
                                <div>
                                <input type="file" class="form-control-file" id="fotoExpediente" name="fotoExpediente" accept="image/*" tabindex="11" />

                                </div>
                                </div> *@

                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#seleccionarFotoModal">
                                    Seleccionar Foto
                                </button>




                            </fieldset>
                        </div>
                    </div>



                    <div class="form-group col-sm-12">
                        <button id="btnGuardarCambios" class="btn btn-success mt-3 w-100" tabindex="13">Guardar Cambios</button>
                    </div>
                </form>

            </div>
        </div>

    </div>


    <!-- Modal para seleccionar la foto -->
    <div class="modal" id="seleccionarFotoModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Seleccionar Foto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Contenido del cuerpo del modal -->
                    <form id="fotoPerfilExpediente">
                        <input name="identificacion" type="hidden" value="@ViewBag.identificacion" />
                        <input type="file" id="inputFotoPerfil" name="inputFotoPerfil" accept="image/*">
                        <img class="img-fluid mt-3 previewFoto" style="display: none;" alt="Foto previa">
                    </form>

                </div>
                <div class="modal-footer">
                    <button id="confirmarFotoPerfil" type="button" class="btn btn-secondary" data-dismiss="modal">Confirmar</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal para Añadir Idioma -->
    <div class="modal fade" id="agregarIdiomaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Añadir Idioma</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Formulario para Añadir Título -->
                    <form id="formAgregarIdioma" method="post">
                        <div class="form-group">
                            <label for="nombreIdioma">Idioma:</label>
                            <select class="form-control" id="nombreIdioma" name="nombreIdioma" required tabindex="1">
                                @foreach (var idioma in (SelectList)ViewData["IdiomasCombo"])
                                {
                                    <option value="@idioma.Value">@idioma.Text</option>
                                }
                            </select>
                        </div>

                        <!-- Puedes agregar más campos según tus necesidades -->
                        <button id="btnAgregarIdiomaModal" class="btn btn-success mt-2" tabindex="2">Agregar Idioma</button>


                    </form>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal para Añadir Grupo Profesional -->
    <div class="modal fade" id="agregarGrupoProfesionalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Añadir Grupo Profesional</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Formulario para Añadir  -->
                    <form id="formAgregarGrupoProfesional" method="post">
                        <div class="form-group col-sm-6">
                            <label for="grupoProfesional">Grupos Profesionales:</label>

                            <select class="form-control" id="grupoProfesional" name="grupoProfesional" tabindex="1">
                                <option value="0">Seleccione una opción:</option>

                                @foreach (var grupo in (SelectList)ViewData["GruposCombo"])
                                {
                                    <option value="@grupo.Value">@grupo.Text</option>
                                }
                            </select>
                        </div>

                        <!-- Puedes agregar más campos según tus necesidades -->
                        <button id="btnAgregarGrupoProfesional" class="btn btn-success mt-2" tabindex="2">Agregar</button>


                    </form>
                </div>
            </div>
        </div>
    </div>





    <!-- Modal de Confirmación para Eliminar Idioma -->
    <div class="modal fade" id="confirmacionEliminarModalIdioma" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmar Eliminación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar este Idioma?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button id="confirmarEliminar" type="button" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Confirmación para Eliminar Grupo Profesoinal -->
    <div class="modal fade" id="confirmacionEliminarModalGrupo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmar Eliminación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar este Grupo Profesional?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button id="confirmarEliminarGrupo" type="button" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal de Confirmación subida dimex-->
    <div class="modal fade" id="SubirDimexModal" tabindex="-1" role="dialog" aria-labelledby="confirmacionModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmacionModalLabel">Confirmación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas subir la imagen?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="confirmarSubidaDimex">Confirmar</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal para la imagen ampliada -->
    <div class="modal fade" id="imagenModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img id="imagenAmpliada" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>


</main>

<script src="@Url.Content("~/js/oferente/expediente.js")"></script>
