@{
    Layout = "~/Views/Shared/LayoutOferente.cshtml";
}
<main role="main" class="pb-3">
    <input id="nombreOferente" type="hidden" value="@ViewBag.nombre" />

    <input id="vistaActual" type="hidden" value="@ViewBag.VistaActual" />


    <div class="container mt-5">
        <div class="contenedorExpediente animate__animated animate__zoomIn">

            <div class="row">
                <form class="col-sm-6" method="post" asp-controller="Oferente" asp-action="MenuPrincipalOferente">
                    <input id="identification" name="identification" type="hidden" value="@ViewBag.identificacion" />
                    <input id="clave" name="clave" type="hidden" value="@ViewBag.clave" />

                    <button id="btnRegresar" class="btn btn-secondary mt-2">Regresar</button>

                </form>

                <div class="col-sm-6">
                    <img id="fotoPerfil" class="img-fluid img-perfil" data-toggle="modal" data-target="#imagenModal" />
                </div>

            </div>
            <form class="formEnlaces" method="post">
                <input name="identification" type="hidden" value="@ViewBag.identificacion" />
                <input id="clave" name="clave" type="hidden" value="@ViewBag.clave" />

                <ul class="nav nav-tabs d-flex justify-content-center" id="myTabs">
                    <li class="nav-item">
                        <button id="enlaceDatosPersonales" class="btn-dark">Expediente Personal</button>

                    </li>
                    <li class="nav-item">
                        <button id="enlaceExpedienteAcademico" class="btn-dark">Expediente Academico</button>
                    </li>
                    <li class="nav-item">
                        <button id="enlaceReferencias" class="btn-dark">Perfil Laboral</button>
                    </li>
                    <li class="nav-item">
                        <button id="enlaceExpLaboral" class="btn-dark">Experiencia Laboral</button>

                    </li>

                </ul>

            </form>


            <table id="tablaExperiencias" class="table table-bordered">
                <thead class="tabla-head">
                    <tr class="text-center">
                        <th>Institución</th>
                        <th>Teléfono</th>
                        <th>Puesto</th>
                        <th>Años</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="listaExperiencias">
                </tbody>
            </table>




            <!-- Botón para Añadir Experiencia -->
            <div class="form-group col-sm-12">
                <button type="button" class="btn btn-primary w-100 btn-sm" data-toggle="modal" data-target="#agregarExperienciaModal" tabindex="1">
                    Agregar Experiencia
                </button>
            </div>



        </div>

    </div>





    <!-- Modal para Añadir experiencia -->
    <div class="modal fade" id="agregarExperienciaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Añadir Experiencia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Formulario para Añadir experiencia -->
                    <form id="formAgregarExperiencia" method="post">

                        <div class="form-group mt-1  col-md-5" id="nombreEmpresaDiv">
                            <label for="nombreEmpresa">Institución:</label>
                            <input type="text" class="form-control" id="nombreEmpresa" name="nombreEmpresa" required tabindex="1" />
                        </div>

                        <div class="form-group mt-1 col-md-5">
                            <label for="contacto">Contacto:</label>
                            <input type="text" class="form-control" id="contacto" name="contacto" required tabindex="2" />
                        </div>

                        <div class="form-group mt-1 col-md-5">
                            <label for="inicio">Año Inicio:</label>
                            <input type="text" class="form-control" id="inicio" name="inicio" required tabindex="3" />
                        </div>

                        <div class="form-group mt-1 col-md-5">
                            <label for="fin">Año Fin:</label>
                            <input type="text" class="form-control" id="fin" name="fin" required tabindex="4" />
                        </div>

                        <div class="form-group mt-1 col-md-5">
                            <label for="labores">Puesto:</label>
                            <textarea id="labores" name="labores" class="form-control" tabindex="5"></textarea>
                        </div>

                        <!-- Campo para subir foto -->
                        <div class="form-group">
                            <label for="fotoEvaluacion">Subir Foto de Evaluación:</label>
                            <div>
                                <input id="fotoEvaluacion" type="file" class="form-control-file fotoTitulo" name="fotoEvaluacion" accept="image/*" required tabindex="6" />

                            </div>
                            <img class="previewImage" src="#" alt="Vista previa de la imagen" style="max-width: 100%; max-height: 200px; margin-top: 10px; display: none;" />

                        </div>

      

                        <button id="agregarExperiencia" class="btn btn-success mt-2" tabindex="6">Guardar Experiencia</button>

                    </form>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal de Confirmación para Eliminar referencia -->
    <div class="modal fade" id="confirmacionEliminarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmar Eliminación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar esta referencia?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button id="confirmarEliminar" type="button" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal para la imagen ampliada -->
    <div class="modal fade" id="imagenModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img id="imagenAmpliada" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>



</main>

<script src="@Url.Content("~/js/oferente/expediente.js")"></script>
