@{
    Layout = "~/Views/Shared/LayoutOferente.cshtml";
}
<main role="main" class="pb-3">
    <input id="nombreOferente" type="hidden" value="@ViewBag.nombre" />

    <input id="vistaActual" type="hidden" value="@ViewBag.VistaActual" />


    <div class="container mt-5">
        <div class="contenedorExpediente">
            <div class="row">
                <form class="col-sm-6" method="post" asp-controller="Oferente" asp-action="MenuPrincipalOferente">
                    <input id="identification" name="identification" type="hidden" value="@ViewBag.identificacion" />
                    <input id="clave" name="clave" type="hidden" value="@ViewBag.clave" />

                    <button id="btnRegresar" class="btn btn-secondary mt-2">Regresar</button>

                </form>

                <div class="col-sm-6">
                    <img id="fotoPerfil" class="img-fluid img-perfil" data-toggle="modal" data-target="#imagenModal" />
                </div>

            </div>
            <form class="formEnlaces" method="post">
                <input name="identification" type="hidden" value="@ViewBag.identificacion" />
                <input id="clave" name="clave" type="hidden" value="@ViewBag.clave" />

                <ul class="nav nav-tabs d-flex justify-content-center" id="myTabs">
                    <li class="nav-item">
                        <button id="enlaceDatosPersonales" class="btn-dark">Expediente Personal</button>

                    </li>
                    <li class="nav-item">
                        <button id="enlaceExpedienteAcademico" class="btn-dark">Expediente Academico</button>
                    </li>
                    <li class="nav-item">
                        <button id="enlaceReferencias" class="btn-dark">Perfil Laboral</button>
                    </li>
                    <li class="nav-item">
                        <button id="enlaceExpLaboral" class="btn-dark">Experiencia Laboral</button>

                    </li>

                </ul>

            </form>
            <div class="instrucciones-cuadro">
                <p class="text-center"><strong>Estados de Referencias</strong></p>
                <hr />
                <p><strong>N/V:</strong> No Verificado</p>
                <p><strong>V:</strong> Verificado</p>
            </div>
            <h4 class="text-center">Referencias Personales</h4>

            <table id="tablaReferenciasPersonales" class="table table-bordered">
                <thead class="tabla-head">
                    <tr class="text-center">
                        <th>Persona que Refiere</th>
                        <th>Teléfono</th>
                        <th>Estado Referencia</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="listaReferenciasPersonales">
                </tbody>
            </table>
            <div class="form-group col-sm-12">
                <button id="abrirModalAgregarReferenciaPersonal" type="button" class="btn btn-primary w-100 btn-sm" data-toggle="modal" data-target="#agregarReferenciaModal">
                    Agregar
                </button>
            </div>


            <h4 class="text-center mt-5">Referencias Profesionales</h4>
            <table id="tablaReferenciasProfesionales" class="table table-bordered">
                <thead class="tabla-head">
                    <tr class="text-center">
                        <th>Nombre Empresa</th>
                        <th>Teléfono</th>
                        <th>Estado Referencia</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="listaReferenciasProfesionales">
                </tbody>
            </table>
        



            <!-- Botón para Añadir Referencia -->
            <div class="form-group col-sm-12">
                <button id="abrirModalAgregarReferenciaProfesional" type="button" class="btn btn-primary w-100 btn-sm" data-toggle="modal" data-target="#agregarReferenciaModal">
                    Agregar
                </button>
            </div>



        </div>

    </div>





    <!-- Modal para Añadir Referencia -->
    <div class="modal fade" id="agregarReferenciaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Añadir Referencia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Formulario para Añadir Referencia -->
                    <form id="formAgregarReferencia" method="post">

                        <input type="text" class="form-control form-control-sm" id="tipoReferencia" name="tipoReferencia" hidden tabindex="1" />

                        <div class="form-group mt-1 col-md-5" id="empresaDiv">
                            <label for="nombreEmpresa">Nombre de Empresa:</label>
                            <input type="text" class="form-control form-control-sm" id="nombreEmpresa" name="nombreEmpresa" required tabindex="2" />
                        </div>

                        <div class="form-group mt-1 col-md-5" id="personaReferenciaDiv">
                            <label for="nombrePersonaRefiere">Persona que refiere:</label>
                            <input type="text" class="form-control" id="nombrePersonaRefiere" name="nombrePersonaRefiere" required tabindex="3" />
                        </div>

                        <div class="form-group mt-1 col-md-5">
                            <label for="contacto">Teléfono:</label>
                            <input type="text" class="form-control" id="contacto" name="contacto" required tabindex="4" />
                        </div>

                        <!-- Campo para subir foto -->
                        <div class="form-group mt-1 col-md-5">
                            <label for="fotoReferencia">Subir Foto de Referencia:</label>
                            <div>
                                <input type="file" class="form-control-file" id="fotoReferencia" name="fotoReferencia" accept="image/*" required tabindex="5" />

                            </div>
                        </div>

                        <button id="agregarReferencia" class="btn btn-success mt-2" tabindex="6">Guardar Referencia</button>

                    </form>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal de Confirmación para Eliminar referencia -->
    <div class="modal fade" id="confirmacionEliminarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmar Eliminación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar esta referencia?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button id="confirmarEliminar" type="button" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal para la imagen ampliada -->
    <div class="modal fade" id="imagenModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
 
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img id="imagenAmpliada" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>






</main>

<script src="@Url.Content("~/js/oferente/expediente.js")"></script>

