@{
    Layout = "~/Views/Shared/LayoutOferente.cshtml";
}
<main role="main" class="pb-3">
    <input id="nombreOferente" type="hidden" value="@ViewBag.nombre" />
    <input id="vistaActual" name="clave" type="hidden" value="@ViewBag.VistaActual" />


    <div class="container mt-5">
        <div class="contenedorExpediente">
            <h1 class="text-center">Lista de Títulos</h1>


            <!-- Lista de Títulos -->
            <table id="tablaTitulos" class="table table-bordered">
                <thead class="tabla-head">
                    <tr class="text-center">
                        <th>Especialidad</th>
                        <th>Tipo</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="listaTitulo">
                    
                </tbody>
            </table>

          

            <!-- Botón para Añadir Título -->
            <div class="form-group col-sm-12">
                <button id="abrirModalAgregarTitulo" type="button" class="btn btn-primary mt-3 w-100" data-toggle="modal" data-target="#agregarTituloModal">
                    Añadir Título
                </button>
            </div>
            <form method="post" asp-controller="Oferente" asp-action="MenuPrincipalOferente">
                <input id="identification" name="identification" type="hidden" value="@ViewBag.identificacion" />
                <input id="clave" name="clave" type="hidden" value="@ViewBag.clave" />
                <div class="form-group col-sm-12">
                    <button id="btnRegresar" class="btn btn-secondary mt-2 w-100">Regresar</button>
                </div>
            </form>

           
        </div>

    </div>




    <!-- Modal para Añadir Título -->
    <div class="modal fade" id="agregarTituloModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Añadir Título</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Formulario para Añadir Título -->
                    <form id="formAgregarTitulo" method="post">
                        <div class="form-group">
                            <label for="nivelEducacion">Nivel de Educación:</label>
                            <select class="form-control" id="nivelEducacion" name="nivelEducacion" required tabindex="1">
                                @foreach (var grado in (SelectList)ViewData["Grados"])
                                {
                                    <option value="@grado.Value">@grado.Text</option>
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="titulo">Título:</label>
                            <input type="text" class="form-control" id="titulo" name="titulo" required tabindex="2" />
                        </div>

                        <div class="form-group">
                            <label for="institucion">Institución:</label>
                            <input type="text" class="form-control" id="institucion" name="institucion" required tabindex="3" />
                        </div>

                        <div class="form-group">
                            <label for="fechaObtenido">Fecha Obtenido:</label>
                            <input type="date" class="form-control" id="fechaObtenido" name="fechaObtenido" required tabindex="4" />
                        </div>

                        <div class="form-group">
                            <label for="folio">Folio:</label>
                            <input type="number" class="form-control" name="folio" id="folio" required tabindex="5" />
                        </div>

                        <div class="form-group">
                            <label for="asiento">Asiento:</label>
                            <input type="number" class="form-control" id="asiento" name="asiento" required tabindex="6" />
                        </div>


                        <!-- Campo para subir foto -->
                        <div class="form-group">
                            <label for="fotoTitulo">Subir Foto del Título:</label>
                            <div>
                                <input type="file" class="form-control-file" id="fotoTitulo" name="fotoTitulo" accept="image/*" required tabindex="7" />
                                
                            </div>
                            
                            
                        </div>

                        <button id="agregarTitulo" class="btn btn-success mt-2" tabindex="8">Guardar Título</button>
                        <button id="actualizarTitulo" class="btn btn-success mt-2" tabindex="9">Guardar Cambios</button>

                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal de Confirmación para Eliminar Título -->
    <div class="modal fade" id="confirmacionEliminarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmar Eliminación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar este título?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button id="confirmarEliminar" type="button" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>






  

</main>

<script src="~/js/oferente/expediente.js"></script>