@{
    Layout = "~/Views/Shared/LayoutOferente.cshtml";
}
<main role="main" class="pb-3">
    <input id="nombreOferente" type="hidden" value="@ViewBag.nombre" />
    <input id="vistaActual" name="clave" type="hidden" value="@ViewBag.VistaActual" />


    <div class="container mt-5">
        <div class="contenedorExpediente">
            <form class="formEnlaces" method="post">
                <input id="identification" name="identification" type="hidden" value="@ViewBag.identificacion" />
                <input id="clave" name="clave" type="hidden" value="@ViewBag.clave" /> 

                <ul class="nav nav-tabs d-flex justify-content-center" id="myTabs">
                    <li class="nav-item">
                        <button id="enlaceDatosPersonales" class="nav-link">Expediente Personal</button>

                    </li>
                    <li class="nav-item">
                        <button id="enlaceExpedienteAcademico" class="nav-link">Expediente Academico</button>
                    </li>
                    <li class="nav-item">
                        <button id="enlaceReferencias" class="nav-link">Perfil Laboral</button>
                    </li>
                    <li class="nav-item">
                        <button id="enlaceExpLaboral" class="nav-link">Experiencia Laboral</button>

                    </li>

                </ul>
            </form> 

            <h2 class="text-center mt-2">Secundaria</h2>

            <!-- Lista de Títulos Secundaria-->
            <table id="tablaTitulosSecundaria" class="table table-bordered">
                <thead class="tabla-head">
                    <tr class="text-center">
                        <th>Titulo</th>
                        <th>Instituto</th>
                        <th>Año Inicio</th>
                        <th>Año Final</th>
                        <th>Estado del Titulo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="listaTitulosSecundaria">
                </tbody>
            </table>
            <!-- Botón para Añadir titulo secundaria -->
            <div class="form-group col-sm-12">
                <button id="abrirModalAgregarTituloSecundaria" type="button" class="btn btn-primary mt-1 w-100" data-toggle="modal" data-target="#agregarTituloSecundariaModal">
                    Añadir Título
                </button>
            </div>







            <hr class="mt-5"/>
            <h2 class="text-center">Universitarios</h2>

            <!-- Lista de Títulos Universitarios-->

            <table id="tablaTitulosUniversitarios" class="table table-bordered">
                <thead class="tabla-head">
                    <tr class="text-center">
                        <th>Titulo</th>
                        <th>Especialidad</th>
                        <th>Instituto</th>
                        <th>Año Inicio</th>
                        <th>Año Final</th>
                        <th>Estado del Titulo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="listaTitulosUniversitarios">
                </tbody>

            </table>
            <div class="form-group col-sm-12">
                <button id="abrirModalAgregarTituloUniversitario" type="button" class="btn btn-primary mt-1 w-100" data-toggle="modal" data-target="#agregarTituloUniversitarioModal">
                    Añadir Título
                </button>
            </div>

            <h2 class="text-center mt-5">Diplomas</h2>

            <table id="tablaTitulosVarios" class="table table-bordered">
                <thead class="tabla-head">
                    <tr class="text-center">
                        <th>Titulo</th>
                        <th>Especialidad</th>
                        <th>Instituto</th>
                        <th>Año Inicio</th>
                        <th>Año Final</th>
                        <th>Estado del Titulo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="listaTitulosVarios">
                </tbody>
            </table>
            <div class="form-group col-sm-12">
                <button id="abrirModalAgregarTituloDiploma" type="button" class="btn btn-primary mt-1 w-100" data-toggle="modal" data-target="#agregarTituloDiplomaModal">
                    Añadir Título
                </button>
            </div>


            <form method="post" asp-controller="Oferente" asp-action="MenuPrincipalOferente">
                <input id="identification" name="identification" type="hidden" value="@ViewBag.identificacion" />
                <input id="clave" name="clave" type="hidden" value="@ViewBag.clave" />
                <div class="form-group col-sm-12">
                    <button id="btnRegresar" class="btn btn-secondary mt-2 w-100">Regresar</button>
                </div>
            </form>


        </div>

    </div>




    <!-- Modal para Añadir Título -->
    <div class="modal fade" id="agregarTituloModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Añadir Título</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Formulario para Añadir Título -->
                    <form id="formAgregarTitulo" method="post">
                 @*        <div class="form-group col-sm-6">
                            <label for="nivelEducacion">Nivel de Educación:</label>
                            <select class="form-control" id="nivelEducacion" name="nivelEducacion" required tabindex="1">
                                @foreach (var grado in (SelectList)ViewData["Grados"])
                                {
                                    <option value="@grado.Value">@grado.Text</option>
                                }
                            </select>
                        </div> *@

                        <div class="form-group" id="divInstituto">
                            <label for="instituto">Institución:</label>
                            <select class="form-control" id="instituto" name="instituto" required tabindex="2">
                            </select>
                        </div>

                        <div class="form-group" id="divCarrera">
                            <label for="carreras">Carrera:</label>
                            <select class="form-control" id="carreras" name="carreras" required tabindex="3">
                            </select>
                        </div>



                        <div class="form-group" id="divTitulo">
                            <label for="titulo">Título:</label>
                            <input type="text" class="form-control" id="titulo" name="titulo" required tabindex="4" />
                        </div>

                        <div class="form-group" id="divInstituto2">
                            <label for="institucion">Institución:</label>
                            <input type="text" class="form-control" id="institucion" name="institucion" required tabindex="5" />
                        </div>

                        <div class="form-group col-sm-6">
                            <label for="fechaObtenido">Fecha Obtenido:</label>
                            <input type="date" class="form-control" id="fechaObtenido" name="fechaObtenido" required tabindex="6" />
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6" id="divFolio">
                                <label for="folio">Folio:</label>
                                <input type="number" class="form-control" name="folio" id="folio" required tabindex="7" />
                            </div>

                            <div class="form-group col-sm-6" id="divAsiento">
                                <label for="asiento">Asiento:</label>
                                <input type="number" class="form-control" id="asiento" name="asiento" required tabindex="8" />
                            </div>
                        </div>




                        <!-- Campo para subir foto -->
                        <div class="form-group">
                            <label for="fotoTitulo">Subir Foto del Título:</label>
                            <div>
                                <input type="file" class="form-control-file" id="fotoTitulo" name="fotoTitulo" accept="image/*" required tabindex="9" />

                            </div>


                        </div>

                        <button id="agregarTitulo" class="btn btn-success mt-2" tabindex="8">Guardar Título</button>
                        <button id="actualizarTitulo" class="btn btn-success mt-2" tabindex="9">Guardar Cambios</button>

                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal de Confirmación para Eliminar Título -->
    <div class="modal fade" id="confirmacionEliminarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmar Eliminación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar este título?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button id="confirmarEliminar" type="button" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>





    <!-- Modal para Añadir Diplomado -->
    <div class="modal fade" id="agregarTituloSecundariaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Formulario para Añadir Título Secundaria-->
                    <form id="formAgregarTituloSecundaria" method="post">

                        <div class="row mt-3 divUbicacionSecundaria">
                            <div class="col-md-6">
                                <label for="provinciasSecudaria">Provincia:</label>
                                <select id="provinciasSecudaria" class="form-control provincias" tabindex="1">
                                    <!-- Opciones de provincias -->
                                    <option value="null">Seleccione una opción</option>

                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="cantonesSecundaria">Cantón:</label>
                                <select id="cantonesSecundaria" class="form-control cantones" tabindex="2">
                                    <!-- Opciones de cantones -->
                                    <option value="null">Seleccione una opción</option>

                                </select>
                            </div>
         

                        </div>
                        <div class="form-group" id="divInstitutoSecundaria">
                            <label for="institutoSecundaria">Institución:</label>
                            <select id="institutoSecundaria" class="form-control" name="instituto" required tabindex="3">
                           

                            </select>
                        </div>

                        
                        <div class="form-group col-sm-6">
                            <label for="fechaInicio">Fecha Inicio:</label>
                            <input id="fechaInicioSecundaria" type="text" class="form-control" name="fechaInicio" required tabindex="4" />
                        </div>

                        <div class="form-group col-sm-6">
                            <label for="fechaFin">Fecha Fin:</label>
                            <input id="fechaFinSecundaria" type="text" class="form-control" name="fechaFin" required tabindex="5" />
                        </div>




                        <!-- Campo para subir foto -->
                        <div class="form-group">
                            <label for="fotoTituloSecundaria">Subir Foto del Título:</label>
                            <div>
                                <input id="fotoTituloSecundaria" type="file" class="form-control-file fotoTitulo" name="fotoTitulo" accept="image/*" required tabindex="6" />
                                
                            </div>
                            <img class="previewImage" src="#" alt="Vista previa de la imagen" style="max-width: 100%; max-height: 200px; margin-top: 10px; display: none;" />
                    
                        </div>
      
                        <button id="agregarTituloSecundaria" class="btn btn-success mt-2 agregarTitulo" tabindex="7">Guardar Título</button>
                        <button id="actualizarTituloSecundaria" class="btn btn-success mt-2 actualizarTitulo" tabindex="8">Guardar Cambios</button>

                    </form>
                </div>
            </div>
        </div>
    </div>





    <!-- Modal para Añadir Titulo Bachillerato, Licenciatura, Maestria -->
    <div class="modal fade" id="agregarTituloUniversitarioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Formulario para Añadir Título Secundaria-->
                    <form id="formAgregarTituloUniversitario" method="post">

                        <div class="form-group col-sm-6" id="divEducacionUniversidad">
                            <label for="nivelEducacionUniversitaria">Nivel de Educación:</label>
                            <select class="form-control" id="nivelEducacionUniversitaria" name="nivelEducacion" required tabindex="1">
                                
                            </select>
                        </div>
                        
                        <div class="form-group col-sm-6" id="divInstitutoUniversitario">
                            <label for="institutoUniversitario">Institución:</label>
                            <select id="institutoUniversitario" class="form-control universidades" name="instituto" required tabindex="2">
                            </select>
                        </div>

                        <div class="form-group" id="divCarreraUniversitaria">
                            <label for="carrerasUniversitarias">Carrera:</label>
                            <select class="form-control" id="carrerasUniversitarias" name="carreras" required tabindex="3">
                            </select>
                        </div>

                        <div class="form-group col-sm-6">
                            <label for="fechaInicioUniversitarias">Fecha Inicio:</label>
                            <input id="fechaInicioUniversitarias" type="text" class="form-control" name="fechaInicio" required tabindex="4" />
                        </div>

                        <div class="form-group col-sm-6">
                            <label for="fechaFinUniversitarias">Fecha Fin:</label>
                            <input id="fechaFinUniversitarias" type="text" class="form-control" name="fechaFin" required tabindex="5" />
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-4" id="divFolio">
                                <label for="tomoUniversitario">Tomo:</label>
                                <input type="text" class="form-control" name="tomo" id="tomoUniversitario" required tabindex="6" />
                            </div>

                            <div class="form-group col-sm-4" id="divFolio">
                                <label for="folioUniversitario">Folio:</label>
                                <input type="text" class="form-control" name="folio" id="folioUniversitario" required tabindex="7" />
                            </div>

                            <div class="form-group col-sm-4" id="divAsiento">
                                <label for="asientoUniversitario">Asiento:</label>
                                <input type="text" class="form-control" id="asientoUniversitario" name="asiento" required tabindex="8" />
                            </div>
                        </div>


                        <!-- Campo para subir foto -->
                        <div class="form-group">
                            <label for="fotoTituloSecundaria">Subir Foto del Título:</label>
                            <div>
                                <input id="fotoTituloUniversitaria" type="file" class="form-control-file fotoTitulo" name="fotoTitulo" accept="image/*" required tabindex="9" />

                            </div>
                            <img src="#" class="previewImage" alt="Vista previa de la imagen" style="max-width: 100%; max-height: 200px; margin-top: 10px; display: none;" />

                        </div>

                        <button id="agregarTituloUniversitaria" class="btn btn-success mt-2 agregarTitulo" tabindex="10">Guardar Título</button>
                        <button id="actualizarTituloUniversitaria" class="btn btn-success mt-2 actualizarTitulo" tabindex="11">Guardar Cambios</button>

                    </form>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal para Añadir Titulo Diploma -->
    <div class="modal fade" id="agregarTituloDiplomaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Formulario para Añadir Título Secundaria-->
                    <form id="formAgregarTituloDiploma" method="post">
      

                        <div class="form-group col-sm-6" id="divInstitutoDiploma">
                            <label for="institutoDiploma">Institución:</label>
                            <select id="institutoDiploma" class="form-control universidades" name="instituto" required tabindex="2">
                            </select>
                        </div>

                        <div class="form-group" id="divCarreraDiploma">
                            <label for="carrerasDiploma">Carrera:</label>
                            <select class="form-control" id="carrerasDiploma" name="carreras" required tabindex="3">
                            </select>
                        </div>

                        <div class="form-group col-sm-6">
                            <label for="fechaInicioDiploma">Fecha Inicio:</label>
                            <input id="fechaInicioDiploma" type="text" class="form-control" name="fechaInicio" required tabindex="4" />
                        </div>

                        <div class="form-group col-sm-6">
                            <label for="fechaFinDiploma">Fecha Fin:</label>
                            <input id="fechaFinDiploma" type="text" class="form-control" name="fechaFin" required tabindex="5" />
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label for="tomoDiploma">Tomo:</label>
                                <input type="text" class="form-control" name="tomo" id="tomoDiploma" required tabindex="6" />
                            </div>

                            <div class="form-group col-sm-4">
                                <label for="folioDiploma">Folio:</label>
                                <input type="text" class="form-control" name="folio" id="folioDiploma" required tabindex="7" />
                            </div>

                            <div class="form-group col-sm-4" >
                                <label for="asientoDiploma">Asiento:</label>
                                <input type="text" class="form-control" id="asientoDiploma" name="asiento" required tabindex="8" />
                            </div>
                        </div>


                        <!-- Campo para subir foto -->
                        <div class="form-group">
                            <label for="fotoTituloDiploma">Subir Foto del Título:</label>
                            <div>
                                <input id="fotoTituloDiploma" type="file" class="form-control-file fotoTitulo" name="fotoTitulo" accept="image/*" required tabindex="9" />

                            </div>
                            <img src="#" class="previewImage" alt="Vista previa de la imagen" style="max-width: 100%; max-height: 200px; margin-top: 10px; display: none;" />

                        </div>

                        <button id="agregarTituloDiploma" class="btn btn-success mt-2 agregarTitulo" tabindex="10">Guardar Título</button>
                        <button id="actualizarTituloDiploma" class="btn btn-success mt-2 actualizarTitulo" tabindex="11">Guardar Cambios</button>

                    </form>
                </div>
            </div>
        </div>
    </div>


</main>

<script src="~/js/oferente/expediente.js"></script>