@{
    Layout = "~/Views/Shared/LayoutOferente.cshtml";
}
<main role="main" class="pb-3">
    <input id="nombreOferente" type="hidden" value="@ViewBag.nombre" />
    <input id="vistaActual" name="clave" type="hidden" value="@ViewBag.VistaActual" />


    <div class="container mt-5">
        <div class="contenedorExpediente animate__animated animate__zoomIn">

            <div class="row">
                <form class="col-sm-6" method="post" asp-controller="Oferente" asp-action="MenuPrincipalOferente">
                    <input id="identification" name="identification" type="hidden" value="@ViewBag.identificacion" />
                    <input id="clave" name="clave" type="hidden" value="@ViewBag.clave" />

                    <button id="btnRegresar" class="btn btn-secondary mt-2">Regresar</button>

                </form>

                <div class="col-sm-6">
                    <img id="fotoPerfil" class="img-fluid img-perfil" data-toggle="modal" data-target="#imagenModal" />
                </div>

            </div>
            <form class="formEnlaces" method="post">
                <input name="identification" type="hidden" value="@ViewBag.identificacion" />
                <input id="clave" name="clave" type="hidden" value="@ViewBag.clave" />

                <ul class="nav nav-tabs d-flex justify-content-center" id="myTabs">
                    <li class="nav-item">
                        <button id="enlaceBuscar" class="btn-dark">Buscar Vacantes</button>
                    </li>
                    <li class="nav-item">
                        <button id="enlaceCrear" class="btn-dark">Crear Oferta</button>
                    </li>
                    <li class="nav-item">
                        <button id="enlaceVerMisOfertas" class="btn-dark">Ver mis Ofertas</button>
                    </li>
                    <li class="nav-item">
                        <button id="enlaceVerVacantesAplicadas" class="btn-dark">Ver Vacantes Aplicadas</button>

                    </li>

                </ul>

            </form>


            <fieldset class="border p-3">
                <legend class="w-auto">Ofertas Activas</legend>
                <hr />
                <div class="form-group">
                    <ul id="listaOfertasOferente" class="list-group">
                        <!-- lista de ofertas creadas por el oferente -->


                    </ul>
                </div>
            </fieldset>

            <fieldset class="border p-3 mt-3">
                <legend class="w-auto">Ofertas Desactivadas</legend>
                <hr />
                <div class="form-group">
                    <ul id="listaOfertasOferenteDesactivadas" class="list-group deshabilitado">
                        <!-- lista de ofertas creadas por el oferente -->


                    </ul>
                </div>
            </fieldset>




        </div>

    </div>



    <!-- Modal de Confirmación para desactivar Oferta -->
    <div class="modal fade" id="confirmacionDesactivarModalOferta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmar Desactivación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas desactivar esta Oferta?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button id="confirmarDesactivarOferta" type="button" class="btn btn-danger">Desactivar</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal de Confirmación para activar Oferta -->
    <div class="modal fade" id="confirmacionActivarModalOferta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmar Activación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas activar esta Oferta?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button id="confirmarActivarOferta" type="button" class="btn btn-success">Activar</button>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal para mostrar lista de colegios que pueden solicitar esta oferta -->
    <div class="modal fade" id="modalVerColegios" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="">Colegios que coinciden con esta oferta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

             
                        <ul id="listaColegios" class="list-group">
                            <!-- lista de ofertas creadas por el oferente -->


                        </ul>
         


                </div>
            </div>
        </div>
    </div>


    <!-- Modal para la imagen ampliada -->
    <div class="modal fade" id="imagenModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img id="imagenAmpliada" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>

</main>

<script src="@Url.Content("~/js/oferente/postulaciones.js")"></script>
