@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AplicacionRHGit</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AplicacionRHGit.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-"
          crossorigin="anonymous">


</head>
<body class="fondoImg">

    <div class="container">
        <div class="contenedorInicioSesion">
            <form id="formIngresar" method="post">
                <div class="d-flex flex-column align-items-center">

                    <h2 id="seccionInicioSesion">Iniciar sesión @TempData["Usuario"]</h2>
                    <input id="nombreVista" type="hidden" value="@ViewBag.VistaActual" />
                    <input id="tipoUsuario" type="hidden" value="@TempData["Usuario"]" />



                    <div class="form-group col-sm-3 mt-2">
                        <label for="identificationType">Tipo de Identificación</label>
                        <select id="identificationType" class="form-control">
                            <option value="null">Seleccione una opción</option>
                            <option value="Cedula">Cédula de Identidad</option>
                            <option value="Dinex">DINEX</option>
                            <option value="Pasaporte">Pasaporte</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-3 mt-2">
                        <label for="identification">Identificación</label>
                        <div class="input-group">
                            <input type="text" name="identification" id="identification" class="form-control" disabled />

                            <span class="input-group-text"><i class="fas fa-id-card"></i></span>

                        </div>
                    </div>

                    <div class="form-group col-sm-3 mt-2">
                        <label for="password">Contraseña</label>
                        <div class="input-group">
                            <input type="password" id="password" class="form-control" />

                            <span class="input-group-text"><i class="fas fa-lock"></i></span>

                            @* <button id="showPassword" class="btn btn-link" type="button">Mostrar contraseña</button> *@
                        </div>

                    </div>


                    <button id="btnIniciarSesion" class="btn btn-primary mt-3">Iniciar sesión</button>
                </div>
            </form>
            <div class="d-flex flex-column align-items-center">

                <button type="button" class="btn btn-link" id="abrirModalRestablecerClave">
                    ¿Olvidó su contraseña?
                </button>

                <div class="">
                    <form method="post" asp-controller="Login" asp-action="Crear">
                        <input type="hidden" name="tipoUsuario" value="@TempData["Usuario"]" />
                        <button type="submit" class="btn btn-link">Registrarse</button>
                    </form>

                </div>
                <div>
                    <button id="btnRegresar" class="btn btn-secondary mt-2">Regresar</button>
                </div>
            </div>

                    
                
            
        </div>
    </div>


    <!-- Modal para restablecer contraseña -->
    <div class="modal fade" id="olvideContrasenaModal" tabindex="-1" role="dialog" aria-labelledby="olvideContrasenaModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="olvideContrasenaModalLabel">Olvidé mi contraseña</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Formulario para restablecer contraseña -->
    
                        <div class="form-group">
                            <label for="correo">Correo Electrónico</label>
                            <input type="email" class="form-control" id="correo" placeholder="Ingrese su correo electrónico">
                        </div>
         
                </div>
                <div id="footerModal" class="modal-footer">
                    <button id="restablecerClave" type="button" class="btn btn-success">Enviar</button>

                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/inputmask/dist/jquery.inputmask.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="~/js/login/login.js"></script>
    <script src="~/js/site.js"></script>


    

</body>
</html>

















